<!DOCTYPE html> 
<head>
  <title>404</title>
<link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-content"></div>
    {{>header}}  
   <p> {{errorMessage}}</p>                           

     {{>footer}} 
   
</body>
</html>